<div class="login-box">
    <div class="logo-container">
        <img src="../../../../assets/images/altaTech.svg" alt="Logo de l'entreprise" class="login-logo">
    </div>

    <p>Mot de passe oublié</p>

    <!-- Formulaire avec champ email -->
    <form [formGroup]="form" (ngSubmit)="onResetRequest()">
        <div class="user-box">
            <input formControlName="email" matInput required>
            <label>Email</label>
            @if (form.get('email')?.hasError('required')) {
                <span>L'email est requis</span>
            } @else if (form.get('email')?.hasError('email')) {
                <span>Le format est invalide</span>
            }
        </div>

        <!-- Bouton pour envoyer la demande de reset -->
        <button type="submit">
            Envoyer le lien
        </button>
    </form>

    <!-- Lien retour vers la connexion -->
    <p class="signup-link">Déjà un compte ? <a routerLink="/login" class="a2">Se connecter</a></p>
</div>

