<div class="login-box">
    <div class="logo-container">
        <img src="../../../../assets/images/altaTech.svg" alt="Logo de l'entreprise" class="login-logo">
    </div>

    <p>Réinitialiser le mot de passe</p>

    <form [formGroup]="form" (ngSubmit)="onResetPassword()">
        <!-- Champ mot de passe -->
        <div class="user-box">
            <input formControlName="password" type="password" matInput required>
            <label>Nouveau mot de passe</label>
        </div>

        <!-- Champ confirmation -->
        <div class="user-box">
            <input formControlName="confirm" type="password" matInput required>
            <label>Confirmer le mot de passe</label>
            @if (form.hasError('mismatch')) {
                <span>Les mots de passe ne correspondent pas</span>
            }
        </div>

        <!-- Bouton soumettre -->
        <button type="submit">
            Réinitialiser
        </button>
    </form>

    <!-- Lien retour login -->
    <p class="signup-link">Retour à <a routerLink="/login" class="a2">la connexion</a></p>
</div>

