<div class="sidenav-logo" [class.hide-logo]="sideNavCollapsed()">
    <h1>Logo</h1>
</div>
<div class="sidenav-header">
    <div class="header-text" [class.hide-header-text]="sideNavCollapsed()">


    </div>
    <div class="menu-item-content">
        @for(item of menuItems(); track $index){
            <a mat-list-item
               [routerLink]="item.route"
               routerLinkActive="selected-menu-item"
               #rla="routerLinkActive"
               [activated]="rla.isActive">
                <!-- Utilisation de mat-icon pour les SVG -->

                <img ngSrc="assets/icons/{{item.icon}}" class="menu-icon" alt="" width="30" height="30" />
                <!-- Texte de l'élément -->
                <span matListItemTitle *ngIf="!sideNavCollapsed()">{{ item.label }}</span>
            </a>
        }
    </div>
    <div>
        <div class="profile-pic">
            <img [width]="profilePicSize()" [height]="profilePicSize()" ngSrc="Photo-Rodriguez-Romain.png" alt=""/>
        </div>
        <p>Romain</p>
        <div class="toolbar-right">
            <!-- Toggle dark mode -->
            <button
                mat-icon-button
                (click)="toggleDarkMode()"
                [matTooltip]="darkMode() ? 'Mode clair' : 'Mode sombre'"
            >
                <mat-icon>{{ darkMode() ? 'dark_mode' : 'light_mode' }}</mat-icon>
            </button>
        <button
            mat-icon-button
            (click)="auth.signOut()"
            matTooltip="Se déconnecter"
            routerLink="/login"
        >
            <mat-icon>logout</mat-icon>
        </button>
    </div>

</div>
