<div class="sidenav-logo">
    <img src="assets/images/altaTech.svg" alt="Alta Tech Logo">
</div>


<div class="sidenav-header">

    <div class="menu-item-content">
        @for(item of menuItems(); track $index){
            <a class="menu-item"
               [routerLink]="item.route"
               routerLinkActive="selected-menu-item"
               #rla="routerLinkActive"
               [class.active]="rla.isActive">
                <img ngSrc="assets/icons/{{item.icon}}" class="menu-icon" alt="" width="30" height="30" />
                <!-- Texte de l'élément -->
                <span class="menu-label">{{ item.label }}</span>
            </a>
        }
    </div>

    <div>
        <div class="profile-pic">
            <img [width]="profilePicSize()" [height]="profilePicSize()" ngSrc="Photo-Rodriguez-Romain.png" alt=""/>
        </div>
        <p>Romain</p>
        <div class="toolbar-right">
            <!-- Toggle dark mode -->
            <button
                mat-icon-button
                (click)="toggleDarkMode()"
                [matTooltip]="darkMode() ? 'Mode clair' : 'Mode sombre'">
                <img
                    [src]="darkMode() ? 'assets/icons/sun.svg' : 'assets/icons/moon.svg'"
                    alt="Icône de thème"
                    class="theme-icon" />
            </button>
            <button
                mat-icon-button
                (click)="auth.signOut()"
                matTooltip="Se déconnecter"
                routerLink="/login">
                <img
                    src="assets/icons/logout.svg"
                    alt="Déconnexion"
                    class="theme-icon" />
            </button>
        </div>
    </div>
</div>
