.badge {
    padding: 4px 8px;
    border-radius: 5px;
    color: white;
    text-transform: capitalize;

    &-success {
        background-color: #4caf50;
    }

    &-warning {
        background-color: #ff9800;
    }

    &-danger {
        background-color: #f44336;
    }
}

.total-height {
    min-height: calc(100vh - 120px);
}
