:host {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: #101010;
    transition: width 300ms ease-in-out;
}

.sidenav-container {
    display: flex;
    flex-direction: column;
    height: 100%; /* Permet au sidenav-container de prendre tout l'espace disponible */
    width: 100%;

}

.sidenav-header {
    padding: 16px;
    text-align: center;
    img {
        max-width: 100%;
        height: auto;
        width: 180px;
    }
}

.sidenav-nav {
    flex-grow: 1;
    overflow-y: auto;
    padding-top: 16px;

    .menu-item {
        position: relative;
        display: flex;
        align-items: center;
        padding: 12px 20px;
        color: white;
        text-decoration: none;
        gap: 16px;

        &:hover {
            background: rgba(255, 255, 255, 0.05);
        }

        &.selected-menu-item {
            border-left: 3px solid #cccccc;
            background: rgba(0, 0, 0, 0.1);
        }
    }

    .menu-divider {
        margin: 16px 24px;
        border-color: rgba(255, 255, 255, 0.1);
    }
}

.menu-label {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: white;
}

.menu-icon {
    filter: brightness(0) invert(1);
    flex-shrink: 0; // Empêche l'icône de se réduire
}

.sidenav-footer {
    padding: 16px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);

    .profile-section {
        display: flex;
        align-items: center;
        gap: 12px;
        margin-bottom: 16px;

        .profile-pic img {
            border-radius: 50%;
            object-fit: cover;
        }
        .profile-info p {
            margin: 0;
            color: white;
            font-weight: 500;
            white-space: nowrap; // Empêche le texte de passer à la ligne
        }
    }

    .actions-section {
        display: flex;
        justify-content: space-around;
        align-items: center;

        .theme-icon {
            width: 24px;
            height: 24px;
            filter: brightness(0) invert(1);
        }
    }
}

// Styles pour le mode réduit
:host.collapsed {
    .sidenav-header {
        justify-content: center;
    }
    .menu-item {
        justify-content: center;
        padding: 12px 0;
    }
    .sidenav-footer {
        .profile-section {
            justify-content: center;
        }
        .actions-section {
            flex-direction: column;
            gap: 8px;
        }
    }
}
