@if(auth.connected) {
<mat-toolbar class="mat-elevation-z3">
    <button mat-icon-button (click)="collapsed.set(!collapsed())">
        <mat-icon>menu</mat-icon>
    </button>
    <li class="nav-item">
        <a class="nav-link" (click)="auth.signOut()" routerLink="/login">Logout</a>
    </li>
    <form>
        <input class="form-control" type="text" placeholder="">
    </form>
</mat-toolbar>
}
<mat-sidenav-container>
    @if(auth.connected) {
    <mat-sidenav opened mode="side" [style.width]="sidenavWidth()">
        <app-custom-sidenav [collapsed]="collapsed()"/>
    </mat-sidenav>
    }
    <mat-sidenav-content class="content" [style.margin-left]="sidenavWidth()">

        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>



<!-- Balise utilisée par Angular pour afficher le contenu des routes.
C’est ici que les composants correspondant aux routes définies dans le
`routerLink` seront affichés. -->

