/*.page-actuelle {
    color: red;
}
*/

mat-toolbar {
    position: relative;
    z-index: 5;
    background-color: #93acc3;
}

.content {
    padding: 24px;
}

mat-sidenav-container {
    height: calc(100vh - 64px);

}

mat-sidenav,
mat-sidenav-content {
    transition:  all 500ms ease-in-out;
}


.toolbar {
    display: flex;
    justify-content: space-between;

    .toolbar-left,
    .toolbar-right {
        display: flex;
        align-items: center;
    }

    .toolbar-title {
        font-size: 1.5rem;
        font-weight: 500;
        margin-left: 1rem;
    }

    .toolbar-spacer {
        flex: 1 1 auto;
    }

    button {
        color: white;
    }
}

