

<!--<nav class="navbar navbar-expand-sm navbar-dark bg-dark" aria-label="Third navbar example">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="/accueil">Lumon</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample03"
                aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExample03">
            <ul class="navbar-nav me-auto mb-2 mb-sm-0">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/accueil" routerLinkActive="page-actuelle">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/connexion" routerLinkActive="page-actuelle">Login</a>
                </li>
            </ul>
            <form>
                <input class="form-control" type="text" placeholder="Search" aria-label="Search">
            </form>
        </div>
    </div>
</nav>-->

@if(auth.connected) {
<mat-toolbar class="mat-elevation-z3">
    <button mat-icon-button (click)="collapsed.set(!collapsed())">
        <mat-icon>menu</mat-icon>
    </button>
    <li class="nav-item">
        <a class="nav-link" (click)="auth.signOut()" routerLink="/login">Logout</a>
    </li>
    <form>
        <input class="form-control" type="text" placeholder="">
    </form>
</mat-toolbar>
}
<mat-sidenav-container>
    @if(auth.connected) {
    <mat-sidenav opened mode="side" [style.width]="sidenavWidth()">
        <app-custom-sidenav [collapsed]="collapsed()"/>
    </mat-sidenav>
    }
    <mat-sidenav-content class="content" [style.margin-left]="sidenavWidth()">

        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>



<!-- Balise utilisée par Angular pour afficher le contenu des routes.
C’est ici que les composants correspondant aux routes définies dans le
`routerLink` seront affichés. -->

