<div class="row">
    @if (auth.role == "ROLE_TECH" || auth.role == "ROLE_ADMIN") {
        <div class="col-12 mt-3">
            <button mat-raised-button routerLink="/ajout-produit">
                Ajouter un produit
            </button>
        </div>
    }
    @for (product of productService.products$|async; track $index) {
        <div class="col-12 col-md-6 col-lg-3 mb-4">
            <mat-card appearance="outlined" [class.occasion]="product.etat.id == 3">
                <mat-card-header>
                    <mat-card-title>{{ product.name }}</mat-card-title>
                    <mat-card-subtitle>
                        <span class="code">{{ product.code }}</span>
                        @for(label of product.labelList; track $index) {
                            <span class="label" [ngStyle]="{backgroundColor: label.color}">
                                {{ label.name }}
                            </span>
                        }
                    </mat-card-subtitle>
                </mat-card-header>
                <img ImgSecured mat-card-image [src]="environment.serverUrl + 'product/image/' + product.id + '/600/400'" alt="Photos">
                <mat-card-content>
                    <p>{{ product.description }}</p>
                    <p *ngIf="product.rentalPrice">Location : {{ product.rentalPrice | currency:'EUR' }}</p>
                    <p *ngIf="!product.available" class="text-danger">Indisponible à la location</p>
                </mat-card-content>
                <mat-card-actions>
                    @if (auth.role == "ROLE_TECH" || auth.role == "ROLE_ADMIN") {
                        <button mat-button [routerLink]="['/modifier-produit', product.id]">Edit</button>
                        <button mat-button>Delete</button>
                    }
                    @if (auth.role == "ROLE_CLIENT") {
                    <button mat-button color="primary"
                            (click)="openRentalDialog(product)"
                            [disabled]="!product.available">
                        Louer
                    </button>
                    }
                </mat-card-actions>
            </mat-card>
        </div>
    }
</div>
