<div class="login-box">
    <div class="logo-container">
        <img src="../../../../assets/images/altaTech.svg" alt="Logo de l'entreprise" class="login-logo">
    </div>

    <p>Login</p>

    <form [formGroup]="form" (ngSubmit)="onLogin()">
        <div class="user-box">
            <input formControlName="email" matInput required>
            <label>Email</label>
            @if (form.get('email')?.hasError('required')) {
                <span>L'email est requis</span>
            } @else if (form.get('email')?.hasError('email')) {
                <span>Le format est invalide</span>
            }
        </div>

        <div class="user-box">
            <input required formControlName="password" type="password" matInput>
            <label>Password</label>
        </div>
        <button type="submit">
            Se connecter
        </button>
    </form>
    <p>Vous n'avez pas de compte ? <a routerLink="/signup" class="a2">S'enregistrer</a></p>
</div>
