html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: 'Inter', sans-serif;
}


.mdc-snackbar.notification-valid {
    .mdc-snackbar__surface {
        background-color: #4caf50;
        color: white;
    }
}

.mdc-snackbar.notification-error {
    .mdc-snackbar__surface {
        background-color: #f44336;
        color: white;
    }
}

.mdc-snackbar.notification-warning {
    .mdc-snackbar__surface {
        background-color: #ff9800;
        color: white;
    }
}

.mdc-snackbar.notification-info {
    .mdc-snackbar__surface {
        background-color: #2196f3;
        color: white;
    }
}

// Pour styler le bouton "Fermer"
.mdc-snackbar {
    .mat-mdc-button {
        color: white;
    }
}

.total-height {
    min-height: 90vh;
}

.mat-mdc-table .mat-mdc-header-cell {
    font-weight: bold !important;
}

/* Badges dans la table Material */
.mat-mdc-table .badge {
    display: inline-block;
    padding: 4px 8px !important;
    border-radius: 999px !important; /* pastille arrondie */
    font-size: 0.85rem;
    line-height: 1;
    font-weight: 500;
    color: #fff;
    text-transform: capitalize;
}

.mat-mdc-table .badge-success { background-color: #4caf50 !important; }
.mat-mdc-table .badge-warning { background-color: #ff9800 !important; }
.mat-mdc-table .badge-danger  { background-color: #f44336 !important; }
